/*
    Adapted for jupyter-themer from https://github.com/codemirror
*/

.CodeMirror {
	background-color: #000;
	color: #fff;
	line-height: 1.2em;
	font-size: 1em;
}
.CodeMirror-focused .cm-matchhighlight {
	text-decoration: underline;
	text-decoration-color: #0f0;
	text-decoration-style: wavy;
}
.cm-trailingspace {
	text-decoration: line-through;
	text-decoration-color: #f00;
	text-decoration-style: dotted;
}
.cm-tab {
	text-decoration: line-through;
	text-decoration-color: #404040;
	text-decoration-style: dotted;
}
.CodeMirror .CodeMirror-gutters { background-color: #262626; border-right: 1px solid #505050; padding-right: 0.8em; }
.CodeMirror .CodeMirror-gutter-elt div { font-size: 1.2em; }
.CodeMirror .CodeMirror-guttermarker {  }
.CodeMirror .CodeMirror-guttermarker-subtle {  }
.CodeMirror .CodeMirror-linenumber { color: #606060; padding-left: 0; }
.CodeMirror .CodeMirror-cursor { border-left: 1px solid #eee; }

.CodeMirror span.cm-comment     { color: #008000; }
.CodeMirror span.cm-def         { color: #ffaf40; font-weight: bold; }
.CodeMirror span.cm-keyword     { color: #c080ff; font-weight: bold; }
.CodeMirror span.cm-builtin     { color: #ffaf40; font-weight: bold; }
.CodeMirror span.cm-variable    { color: #5967ff; font-weight: bold; }
.CodeMirror span.cm-string      { color: #ff8000; }
.CodeMirror span.cm-number      { color: #0f0; font-weight: bold; }
.CodeMirror span.cm-atom        { color: #bf3030; font-weight: bold; }

.CodeMirror span.cm-variable-2  { color: #007f7f; font-weight: bold; }
.CodeMirror span.cm-variable-3  { color: #c080ff; font-weight: bold; }
.CodeMirror span.cm-property    { color: #999; font-weight: bold; }
.CodeMirror span.cm-operator    { color: #fff; }

.CodeMirror span.cm-meta        { color: #0f0; }
.CodeMirror span.cm-qualifier   { color: #fff700; font-weight: bold; }
.CodeMirror span.cm-bracket     { color: #cc7; }
.CodeMirror span.cm-tag         { color: #ff0; font-weight: bold; }
.CodeMirror span.cm-attribute   { color: #c080ff; font-weight: bold; }
.CodeMirror span.cm-error       { color: #f00; }

.CodeMirror div.CodeMirror-selected { background-color: rgba(255, 0, 0, 0.25); }

.CodeMirror span.cm-compilation { background-color: rgba(255, 255, 255, 0.12); }

.CodeMirror .CodeMirror-activeline-background { background-color: rgba(0, 255, 0, 0.15); }

/* Default styles for common addons */
div.CodeMirror span.CodeMirror-matchingbracket { color: #0f0; font-weight: bold; }
div.CodeMirror span.CodeMirror-nonmatchingbracket { color: #f00; font-weight: bold; }
.CodeMirror-matchingtag { background-color: rgba(150, 255, 0, .3); }
/* Scrollbars */
/* Simple */
div.CodeMirror-simplescroll-horizontal div:hover, div.CodeMirror-simplescroll-vertical div:hover {
	background-color: rgba(80, 80, 80, .7);
}
div.CodeMirror-simplescroll-horizontal div, div.CodeMirror-simplescroll-vertical div {
	background-color: rgba(80, 80, 80, .3);
	border: 1px solid #404040;
	border-radius: 5px;
}
div.CodeMirror-simplescroll-vertical div {
	border-top: 1px solid #404040;
	border-bottom: 1px solid #404040;
}
div.CodeMirror-simplescroll-horizontal div {
	border-left: 1px solid #404040;
	border-right: 1px solid #404040;
}
div.CodeMirror-simplescroll-vertical {
	background-color: #262626;
}
div.CodeMirror-simplescroll-horizontal {
	background-color: #262626;
	border-top: 1px solid #404040;
}
/* Overlay */
div.CodeMirror-overlayscroll-horizontal div, div.CodeMirror-overlayscroll-vertical div {
	background-color: #404040;
	border-radius: 5px;
}
div.CodeMirror-overlayscroll-vertical div {
	border: 1px solid #404040;
}
div.CodeMirror-overlayscroll-horizontal div {
	border: 1px solid #404040;
}
