
div#notebook {border-top: none;}

div#site {background-color: #1d1f21;}

div#notebook-container {
    background-color: #1d1f21;
    width: 100%;
}

div.input_prompt {color: #a3685a;}
div.output_prompt {color: #b294bb;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #373b41;
}
div.output_area pre {font-weight: normal; color: #c5c8c6;}
div.output_subarea {font-weight: normal; color: #c5c8c6;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #c5c8c6 solid;
  color: #c5c8c6;
}
div.output_html { 
    font-family: sans-serif; 
    font-size: 100%;
}
table.dataframe tr {border: 1px #c5c8c6;}

div.cell {
    padding: 6em 4em;
}
div.input {
    margin-bottom: 2em;
}
div.inner_cell {
    background: #1d1f21;
}
div.input_area {
    background: #1d1f21;
    padding: 2em;
}
div.cell.selected {
    border-radius: 0px;
    border-color: #8abeb7;
}
div.cell.edit_mode {border-radius: 0px; border: thin solid #b294bb;}
div.text_cell_render, div.output_html {color: #c5c8c6;}

span.ansiblack {color: #282a2e;}
span.ansiblue {color: #8abeb7;}
span.ansigray {color: #b4b7b4;}
span.ansigreen {color: #b5bd68;}
span.ansipurple {color: #b294bb;}
span.ansired {color: #cc6666;}
span.ansiyellow {color: #f0c674;}

div.output_stderr {background-color: #cc6666;}
div.output_stderr pre {color: #e0e0e0;}

.cm-s-ipython.CodeMirror {background: #1d1f21; color: #e0e0e0;}
.cm-s-ipython div.CodeMirror-selected {background: #282a2e !important;}
.cm-s-ipython .CodeMirror-gutters {background: #1d1f21; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #969896;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #b4b7b4 !important;}

.cm-s-ipython span.cm-comment {color: #a3685a;}
.cm-s-ipython span.cm-atom {color: #b294bb;}
.cm-s-ipython span.cm-number {color: #b294bb;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #b5bd68;}
.cm-s-ipython span.cm-keyword {color: #cc6666;}
.cm-s-ipython span.cm-string {color: #f0c674;}
.cm-s-ipython span.cm-operator {color: #a3685a;}
.cm-s-ipython span.cm-builtin {color: #b294bb;}

.cm-s-ipython span.cm-variable {color: #b5bd68;}
.cm-s-ipython span.cm-variable-2 {color: #81a2be;}
.cm-s-ipython span.cm-def {color: #de935f;}
.cm-s-ipython span.cm-error {background: #cc6666; color: #b4b7b4;}
.cm-s-ipython span.cm-bracket {color: #c5c8c6;}
.cm-s-ipython span.cm-tag {color: #cc6666;}
.cm-s-ipython span.cm-link {color: #b294bb;}

/*.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #e0e0e0 !important;}*/



.rendered_html ol {
    list-style:decimal;
    margin: 1em 2em;
}

.autosave_status, .checkpoint_status {
    color: #bbbbbb;
    font-family: sans-serif;
}

.filename {
    font-family: Garamond, Palatino, serif;
    font-variant: small-caps;
    letter-spacing: 0.15em;
}

.text_cell, .text_cell_render {
    font-family: Garamond, Palatino, serif;
    font-size: 18px;
    line-height:1.4em;
    padding-left:3em;
    padding-right:3em;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: contextual no-historical-ligatures common-ligatures;
}

blockquote p {
    font-size: 17px;
    line-height:1.2em;
    font-family: Garamond, Palatino, serif;
    text-rendering: optimizeLegibility;
    font-variant-ligatures: contextual no-historical-ligatures common-ligatures;
}

.code_cell { 
    font-family: monospace;
    background-color: #282a2e;
    border-radius: 0.8em;
    padding: 1em;
}

code, pre, .CodeMirror {
    font-family: monospace;
    line-height:1.25em;
    font-size: 16px;
}

.slide-header, p.slide-header
{
    color: #8abeb7;
    font-size: 200%;
    font-weight:bold;
    margin: 0px 20px 10px;
    page-break-before: always;
    text-align: center;
}

div.prompt {
    font-family: monospace;
    font-size: 11px;
}

div.output_area pre {
    font-family: monospace;
    line-height:1.25em;
    font-size: 16px;
    background-color: #282a2e;
}

div.output_error pre {
    background-color: #282a2e;
}